In [1]:
from influxdb import InfluxDBClient
client = InfluxDBClient(host='localhost', port=8086)

In [2]:
client.switch_database('beverage')

In [3]:
results = client.query("select * from pet_sensor_readings")

ConnectionError: HTTPConnectionPool(host='localhost', port=8086): Max retries exceeded with url: /query?q=select+%2A+from+pet_sensor_readings&db=beverage (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fdd72a47910>: Failed to establish a new connection: [Errno 61] Connection refused'))

In [4]:
#Converting data into list of Dictionaries
results_list = next(iter(results))

In [5]:
#Converting list of dictionaries into Dataframe
import pandas as pd
df = pd.DataFrame(results_list)

In [6]:
#Importing to CSV
#df.to_csv("~/Desktop/Digi 360/Live Project/beverage.csv")

In [7]:
df.head()

,time,Blower,Co2,Date_coder,Day,Filler,Hour,Labeller,Month,PSP,Palletizer,Plasmax,Preform,Uday,Week,Year,product
0,2020-08-16T00:40:31.755413Z,NaN,1452444.0,NaN,16,NaN,6,NaN,8,NaN,NaN,NaN,NaN,16/08/2020,33,2020,cocacola
1,2020-08-16T00:40:34.724393Z,NaN,1452444.0,NaN,16,NaN,6,NaN,8,NaN,NaN,NaN,NaN,16/08/2020,33,2020,cocacola
2,2020-08-16T00:40:37.700167Z,NaN,1452444.0,NaN,16,NaN,6,NaN,8,NaN,NaN,NaN,NaN,16/08/2020,33,2020,cocacola
3,2020-08-16T00:40:40.669245Z,NaN,1452444.0,NaN,16,NaN,6,NaN,8,NaN,NaN,NaN,NaN,16/08/2020,33,2020,cocacola
4,2020-08-16T00:40:43.620928Z,NaN,1452444.0,NaN,16,NaN,6,NaN,8,NaN,NaN,NaN,NaN,16/08/2020,33,2020,cocacola

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1364797 entries, 0 to 1364796
Data columns (total 17 columns):
time          1364797 non-null object
Blower        307407 non-null float64
Co2           94276 non-null float64
Date_coder    253063 non-null float64
Day           1364797 non-null object
Filler        403102 non-null float64
Hour          1364797 non-null object
Labeller      403102 non-null float64
Month         1364797 non-null object
PSP           3690 non-null float64
Palletizer    3690 non-null float64
Plasmax       303261 non-null float64
Preform       307407 non-null float64
Uday          1364797 non-null object
Week          1364797 non-null object
Year          1364797 non-null object
product       1364797 non-null object
dtypes: float64(9), object(8)
memory usage: 177.0+ MB

In [9]:
df.shape

(1364797, 17)

In [10]:
round(100*(df.isnull().sum()/len(df.index)), 2).sort_values(ascending = False)

Palletizer    99.73
PSP           99.73
Co2           93.09
Date_coder    81.46
Plasmax       77.78
Blower        77.48
Preform       77.48
Filler        70.46
Labeller      70.46
product        0.00
Day            0.00
Month          0.00
Hour           0.00
Year           0.00
Uday           0.00
Week           0.00
time           0.00
dtype: float64

In [11]:
df['date'] = df['time'].apply(lambda x: pd.Timestamp(x).strftime('%Y-%m-%d %H:%M:%S'))

In [12]:
df.head()

,time,Blower,Co2,Date_coder,Day,Filler,Hour,Labeller,Month,PSP,Palletizer,Plasmax,Preform,Uday,Week,Year,product,date
0,2020-08-16T00:40:31.755413Z,NaN,1452444.0,NaN,16,NaN,6,NaN,8,NaN,NaN,NaN,NaN,16/08/2020,33,2020,cocacola,2020-08-16 00:40:31
1,2020-08-16T00:40:34.724393Z,NaN,1452444.0,NaN,16,NaN,6,NaN,8,NaN,NaN,NaN,NaN,16/08/2020,33,2020,cocacola,2020-08-16 00:40:34
2,2020-08-16T00:40:37.700167Z,NaN,1452444.0,NaN,16,NaN,6,NaN,8,NaN,NaN,NaN,NaN,16/08/2020,33,2020,cocacola,2020-08-16 00:40:37
3,2020-08-16T00:40:40.669245Z,NaN,1452444.0,NaN,16,NaN,6,NaN,8,NaN,NaN,NaN,NaN,16/08/2020,33,2020,cocacola,2020-08-16 00:40:40
4,2020-08-16T00:40:43.620928Z,NaN,1452444.0,NaN,16,NaN,6,NaN,8,NaN,NaN,NaN,NaN,16/08/2020,33,2020,cocacola,2020-08-16 00:40:43

In [13]:
df['date'] = pd.to_datetime(df['date'])
df
df.dtypes

time                  object
Blower               float64
Co2                  float64
Date_coder           float64
Day                   object
Filler               float64
Hour                  object
Labeller             float64
Month                 object
PSP                  float64
Palletizer           float64
Plasmax              float64
Preform              float64
Uday                  object
Week                  object
Year                  object
product               object
date          datetime64[ns]
dtype: object

In [18]:
#df['time'] = df['time'].dt.strftime('%Y-%m-%d')

In [15]:
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute

In [16]:
df.head()

,time,Blower,Co2,Date_coder,Day,Filler,Hour,Labeller,Month,PSP,Palletizer,Plasmax,Preform,Uday,Week,Year,product,date,hour,minute
0,2020-08-16T00:40:31.755413Z,NaN,1452444.0,NaN,16,NaN,6,NaN,8,NaN,NaN,NaN,NaN,16/08/2020,33,2020,cocacola,2020-08-16 00:40:31,0,40
1,2020-08-16T00:40:34.724393Z,NaN,1452444.0,NaN,16,NaN,6,NaN,8,NaN,NaN,NaN,NaN,16/08/2020,33,2020,cocacola,2020-08-16 00:40:34,0,40
2,2020-08-16T00:40:37.700167Z,NaN,1452444.0,NaN,16,NaN,6,NaN,8,NaN,NaN,NaN,NaN,16/08/2020,33,2020,cocacola,2020-08-16 00:40:37,0,40
3,2020-08-16T00:40:40.669245Z,NaN,1452444.0,NaN,16,NaN,6,NaN,8,NaN,NaN,NaN,NaN,16/08/2020,33,2020,cocacola,2020-08-16 00:40:40,0,40
4,2020-08-16T00:40:43.620928Z,NaN,1452444.0,NaN,16,NaN,6,NaN,8,NaN,NaN,NaN,NaN,16/08/2020,33,2020,cocacola,2020-08-16 00:40:43,0,40

In [17]:
df=df[df.columns[[0,1,2,3,5,6,7,9,10,11,12,14,16,13,17,15,8,4,18,19]]]
df.head()

,time,Blower,Co2,Date_coder,Filler,Hour,Labeller,PSP,Palletizer,Plasmax,Preform,Week,product,Uday,date,Year,Month,Day,hour,minute
0,2020-08-16T00:40:31.755413Z,NaN,1452444.0,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,33,cocacola,16/08/2020,2020-08-16 00:40:31,2020,8,16,0,40
1,2020-08-16T00:40:34.724393Z,NaN,1452444.0,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,33,cocacola,16/08/2020,2020-08-16 00:40:34,2020,8,16,0,40
2,2020-08-16T00:40:37.700167Z,NaN,1452444.0,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,33,cocacola,16/08/2020,2020-08-16 00:40:37,2020,8,16,0,40
3,2020-08-16T00:40:40.669245Z,NaN,1452444.0,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,33,cocacola,16/08/2020,2020-08-16 00:40:40,2020,8,16,0,40
4,2020-08-16T00:40:43.620928Z,NaN,1452444.0,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,33,cocacola,16/08/2020,2020-08-16 00:40:43,2020,8,16,0,40